# GBA Rom
*.gba
# GBA save
*.sav
# Backup file, automatically created by HxD
*.bak
# GBA Save State (?)
*.sgm
# Gameshark GBA Save
*.sps
# FLIPS Configuration
flipscfg.bin
# Compressed graphics, created as part of the compilation process
*.cdat
# Graphics dumped from ROM should go in this folder
Other (Unneeded) Files/dump
