# GBA Rom
*.gba
# GBA save
*.sav
# Backup file, automatically created by HxD
*.bak
# GBA Save State (?)
*.sgm
# mGBA Save State
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
# Gameshark GBA Save
*.sps
# FLIPS Configuration
flipscfg.bin
# Compressed graphics, created as part of the compilation process
*.cdat
*.rle
# Graphics dumped from ROM should go in this folder
Other (Unneeded) Files/dump
